extends layouts/_layout.pug

block variables
  - var activePage = 'blank-page'
  - var activeGroup = 'pages'

block title
  title Blank Page - Zaoks Admin

block content
  .row.h-50
    .col-md-12
      .tile
        .tile-header
          .bs-component
            .btn.btn-primary#add-contractor Добавить исполнителя
        .tile-body
          table.table.table-hover.table-bordered#sampleTable
            thead
              tr
                th ID
                th Кар
                th ОПФ
                th Пр
                th Название
                th Город
                th Сайт
                th Адрес
                th Доступ
                th Телефоны
                th Имя
                th Email
                th Комментарий
                th Специализация
            tbody
              if contractors === undefined

              else 
                each contractor in contractors
                  tr
                    td #{contractor.id}

                    if contractor.quarantine === 'true'
                      td Да
                    else 
                      td Нет

                    -let orgforms = [contractor.orgform_1, contractor.orgform_2, contractor.orgform_3, contractor.orgform_4, contractor.orgform_5].filter(Boolean).join('; ');
                    td #{orgforms}

                    td #{contractor.priority}

                    -let titles = [contractor.title_1, contractor.title_2, contractor.title_3, contractor.title_4, contractor.title_5].filter(Boolean).join('; ');
                    td #{titles}

                    td #{contractor.city}

                    -let sites = [contractor.site_1, contractor.site_2, contractor.site_3, contractor.site_4, contractor.site_5].filter(Boolean).join('; ');
                    td #{sites}

                    -let addresses = [contractor.address_1, contractor.address_2, contractor.address_3, contractor.address_4, contractor.address_5].filter(Boolean).join('; ');
                    td #{addresses}

                    if contractor.access === 'true'
                      td Есть
                    else if contractor.access === null
                      td 
                    else
                      td Нет

                    -let phones = [contractor.phone_1, contractor.phone_2, contractor.phone_3, contractor.phone_4, contractor.phone_5].filter(Boolean).join('; ');
                    td #{phones}
                    td #{contractor.manager}

                    -let emails = [contractor.email_1, contractor.email_2, contractor.email_3, contractor.email_4, contractor.email_5].filter(Boolean).join('; ');
                    td #{emails}
                    td #{contractor.comment}
                    td #{contractor.specialization}
      .tile.info__wrapper
        .tile-header
          .row
            .col-md-6
              .bs-component
                #info__btns.btn-group.btn-group-toggle(data-toggle="buttons")
                  label.btn.btn-primary.active
                    input#option1(type="radio" name="options" autocomplete="off" checked="")
                    | Общая информация и контакты
                  label.btn.btn-primary
                    input#option2(type="radio" name="options" autocomplete="off")
                    | Производственные возможности
                  label.btn.btn-primary
                    input#option3(type="radio" name="options" autocomplete="off")
                    | Заказы
                  label.btn.btn-primary
                    input#option4(type="radio" name="options" autocomplete="off")
                    | Документы
            .col-md-2.offset-md-4
              h4#contractor-title.m-0.text-right
        form.add-contractor.fix-contractor(action="/update-contractor" method="POST")
          .tile-body
            include includes/_info
          .tile-footer
            .row
              .col-md-12
                button.btn.btn-primary(type="submit") Применить изменения
  include includes/_modal-contractor

block specific-js
  // Data table plugin
  script(type='text/javascript', src="js/plugins/jquery.dataTables.min.js")
  script(type='text/javascript', src="js/plugins/dataTables.bootstrap.min.js")
  script(type='text/javascript').
    $('#sampleTable').DataTable();
    $('#add-contractor').click(() => {
      $('#modal-contractor').fadeIn();
    });
    $('#close-modal--top, #close-modal--bottom').click(() => {
      //confirm('Закрытие окна приведет к потере всех введенных данных. Закрыть окно?') ? $('#modal-contractor').fadeOut() : 'qwe';
      $('#modal-contractor').fadeOut();
    });

    const addInput = (name, group) => {
      const parent = $(`#modal-contractor fieldset.${group}`);
      const inputs = parent.find('input');
      const input_placeholder = inputs.attr('placeholder').split(' ')[0];
      let q = inputs.length;

      if (q < 5) {
        q++;
        parent.append(`<input type="text" id="${name}_${q}" class="form-control" name="${name}_${q}" placeholder="${input_placeholder} ${q}"autocomplete="off">`);
      } else {
        alert('Нельзя добавить больше 5ти полей');
      }
    };

    $('#modal-contractor .delete-field').click(function() {
      const last_input = $(this).parents('fieldset').find('input').last();
      if ( last_input.attr('name').split("_")[1] == 1 ) {
        alert('Нельзя удалить последнее поле');
      } else {
        last_input.remove();
      }
    });

    $('#modal-contractor .titles .add-field').click( () => {
      addInput('title', 'titles');
    });

    $('#modal-contractor .sites .add-field').click( () => {
      addInput('site', 'sites');
    });

    $('#modal-contractor .phones .add-field').click( () => {
      addInput('phone', 'phones');
    });

    $('#modal-contractor .emails .add-field').click( () => {
      addInput('email', 'emails');
    });

    $('#modal-contractor .addresses .add-field').click( () => {
      addInput('address', 'addresses');
    });

    $('#modal-contractor .orgforms .add-field').click( () => {
      addInput('orgform', 'orgforms');
    });

    $('#modal-contractor .managers .add-field').click( () => {
      addInput('manager', 'managers');
    });

    $('#info__btns .btn').click(function() {
      const indexBtn = $('#info__btns .btn').index(this);
      const contentBlocks = $('.info__content');
      contentBlocks.removeClass('info__content--active');
      contentBlocks.eq(indexBtn).addClass('info__content--active');
      $
    });

    const fillContractor = () => {
      const rowText = [];
      console.log($(this));
    }

    const getMachines = () => {
      $.ajax({
        type: 'post',
        url: window.location.href.indexOf('localhost:3000') + 1 ? 'http://localhost:3000/get-machines' : 'https://app.zaoks.ru/get-machines',
        data: {id: $('.row-checked').find('td:first').text()}
      }).done((data) => {
        data = data[0];
        $('.fix-contractor .table-machines input').val('')
        fillSimpleField(data.machine_type, 'machine_type');
        fillSimpleField(data.machine_quantity, 'machine_quantity');
        fillSimpleField(data.machine_length, 'machine_length');
        fillSimpleField(data.machine_width, 'machine_width');
        fillSimpleField(data.machine_height, 'machine_height');
        fillSimpleField(data.machine_diameter, 'machine_diameter');
        fillSimpleField(data.machine_material, 'machine_material');
        fillSimpleField(data.machine_loading, 'machine_loading');
        fillSimpleField(data.machine_comment, 'machine_comment'); 
      });
    }


    $('.fix-contractor').on('change', 'input, select, textarea', function() {
      $(this).addClass('is-changed');
    });

    $('.fix-contractor').submit(function(event) {
      $(this).find('input, select, textarea').not('.is-changed, [readonly]').attr('disabled', 'disabled');
      return true;
    });

    $('#sampleTable').on('click', 'tr', function() {
      $('#sampleTable tr.row-checked').removeClass('row-checked');
      $(this).addClass('row-checked');
      $.ajax({
        type: 'post',
        url: window.location.href.indexOf('localhost:3000') + 1 ? 'http://localhost:3000/get-contractor' : 'https://app.zaoks.ru/get-contractor',
        data: {id: $(this).find('td:first').text()}
      }).done((data) => {
        data = data[0];
        $('#contractor-title').text(`Исполнитель №${data.id}`);
        fillSimpleField(data.id, 'contractorID');
        fillMultipleFields([data.orgform_1, data.orgform_2, data.orgform_3, data.orgform_4, data.orgform_5], 'orgform', 'orgforms');
        fillSimpleField(data.manager, 'manager');
        fillSimpleField(data.city, 'city');
        fillSimpleField(data.comment, 'comment');
        fillSimpleField(data.specialization, 'specialization');
        fillPriority(data.priority);
        fillRadio(data.access, 'access');
        fillRadio(data.quarantine, 'quarantine');
        fillMultipleFields([data.site_1, data.site_2, data.site_3, data.site_4, data.site_5], 'site', 'sites');
        fillMultipleFields([data.title_1, data.title_2, data.title_3, data.title_4, data.title_5], 'title', 'titles');
        fillMultipleFields([data.phone_1, data.phone_2, data.phone_3, data.phone_4, data.phone_5], 'phone', 'phones');
        fillMultipleFields([data.email_1, data.email_2, data.email_3, data.email_4, data.email_5], 'email', 'emails');
        fillMultipleFields([data.address_1, data.address_2, data.address_3, data.address_4, data.address_5], 'address', 'addresses');
      });
      getMachines();
    });

    


    const fillRadio = (value, name) => {
      if (value === null) {
        $(`.fix-contractor [name='${name}']`).prop('checked', false);
      } else {
        $(`.fix-contractor [name='${name}'][value='${value}']`).prop('checked', true);
      }
    }

    const fillPriority = value => {
      $(`.fix-contractor #priority option[value='${value}']`).prop('selected', true);
    };

    const fillSimpleField = (value, id) => {
      $(`.fix-contractor #${id}`).val(value);
    };


    const fillMultipleFields = (arr, name, group) => {
      //arr = arr.filter(Boolean);
      $(`.fix-contractor .${group} input`).remove();
      if ( arr.length == 0) {
        $(`.fix-contractor .${group}`).append(`<input type="text" name="${name}_1" id="${name}_1" class="form-control" autocomplete="off">`);
      } else {
        for(let i = 0; i < arr.length; i++) {
          $(`.fix-contractor .${group}`).append(`<input type="text" name="${name}_${i+1}" id="${name}_${i+1} "class="form-control" autocomplete="off">`);
          $(`.fix-contractor .${group} input`).eq(i).val(arr[i]);
        }
      }
    }


    //- $('#add-machines-row').click( () => {
    //-   let data_machine_number = +$('.production-capacity .row').last().attr('data-machine-number');
    //-   let new_machine_number = data_machine_number ? data_machine_number + 1 : 1;
    //-   const machine_row = `<div class="row" data-machine-number="${new_machine_number}"><div class="col-md-2"><div class="form-group"><label class="machines" for="machines-list">Станки</label><select class="form-control" name="machine_type_${new_machine_number}"><option value="Строгальные станки">Строгальные станки</option><option value="Зуборезные станки">Зуборезные станки</option><option value="Зубошлифовальные станки">Зубошлифовальные станки</option><option value="Координатно-расточные станки">Координатно-расточные станки</option><option value="Токарные станки">Токарные станки</option><option value="Фрезерные станки">Фрезерные станки</option><option value="Токарные станки Крупногабаритные">Токарные станки Крупногабаритные</option><option value="Токарно-карусельная обработка">Токарно-карусельная обработка</option><option value="Фрезерные станки Крупногабаритные">Фрезерные станки Крупногабаритные</option><option value="Токарные автоматы">Токарные автоматы</option><option value="Токарные станки с ЧПУ">Токарные станки с ЧПУ</option><option value="Токарно-фрезерные станки с ЧПУ">Токарно-фрезерные станки с ЧПУ</option><option value="Фрезерные станки с ЧПУ">Фрезерные станки с ЧПУ</option><option value="Токарные станки с ЧПУ Крупногабаритные">Токарные станки с ЧПУ Крупногабаритные</option><option value="Токарно-карусельная обработка с ЧПУ">Токарно-карусельная обработка с ЧПУ</option><option value="Токарно-фрезерные станки с ЧПУ Крупногабаритные">Токарно-фрезерные станки с ЧПУ Крупногабаритные</option><option value="Фрезерные станки с ЧПУ Крупногабаритные">Фрезерные станки с ЧПУ Крупногабаритные</option><option value="Хонингование">Хонингование</option><option value="Внутришлифовальные станки">Внутришлифовальные станки</option><option value="Круглошлифовальные станки">Круглошлифовальные станки</option><option value="Плоскошлифовальные станки">Плоскошлифовальные станки</option><option value="Электроэрозия">Электроэрозия</option><option value="Сверление и зенкерование">Сверление и зенкерование</option></select></div></div><div class="col-md-1"><label class="machines">Длина</label><input class="form-control type="text" name="machine-length-${new_machine_number}"></div><div class="col-md-1"><label class="machines">Ширина</label><input class="form-control type="text" name="machine-width-${new_machine_number}"></div><div class="col-md-1"><label class="machines">Высота</label><input class="form-control type="text" name="machine-height-${new_machine_number}"></div><div class="col-md-1"><label class="machines">Диаметр</label><input class="form-control type="text" name="machine-diameter-${new_machine_number}"></div><div class="col-md-2"><label class="machines">Материал</label><input class="form-control type="text" name="machine-material-${new_machine_number}"></div><div class="col-md-2"><label class="machines">Загружен до</label><input class="form-control" type="date" name="machine-loading-${new_machine_number}"></div>`;
    //-   $('.production-capacity').append(machine_row);
    //- });

    //- $('#delete-machines-row').click( () => {
    //-   $('.production-capacity .row').last().remove();
    //- })




