extends layouts/_layout.pug

block variables
  - var activePage = 'blank-page'
  - var activeGroup = 'pages'

block title
  title Blank Page - Zaoks Admin

block content
  .btn.btn-primary#add-contractor Добавить исполнителя
  //- .app-title
  //-   div
  //-     h1
  //-       i.fa.fa-dashboard
  //-       |  Blank Page
  //-     p Start a beautiful journey here

  //-   ul.app-breadcrumb.breadcrumb
  //-     li.breadcrumb-item
  //-       i.fa.fa-home.fa-lg
  //-     li.breadcrumb-item
  //-       a(href='#') Blank Page

  .row
    .col-md-12
      .tile
        .tile-body
          table.table.table-hover.table-bordered#sampleTable
            thead
              tr
                th ID
                th Кар
                th ОПП
                th Пр
                th Название
                th Город
                th Сайт
                th Адрес
                th Доступ
                th Телефоны
                th Имя
                th Email
                th Комментарий
                th Специализация
            tbody
              if contractors === undefined

              else 
                each contractor in contractors
                  tr 
                    td #{contractor.id}

                    if contractor.quarantine
                      td Да
                    else 
                      td Нет

                    td #{contractor.orgform}
                    td #{contractor.priority}
                    td #{contractor.title}
                    td #{contractor.city}
                    td #{contractor.site}
                    td #{contractor.address}

                    if contractor.access
                      td Есть
                    else if contractor.access === null
                      td 
                    else
                      td Нет

                    td #{contractor.phones}
                    td #{contractor.name}
                    td #{contractor.email}
                    td #{contractor.comment}
                    td #{contractor.specialization}




  .modal#modal-contractor(style="display: none")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h5.modal-title Добавить исполнителя
          button.close#close-modal--top(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") ×
        .modal-body
          form.add-cotractor(action="/add-contractor" method="POST")
            label(for="quarantine") 
              | Карантин 
              span.animated-radio-button
                  label
                    input#quarantine(type="radio" name="quarantine" value="true")
                    span.label-text Да
              span.animated-radio-button
                  label
                    input#quarantine(type="radio" name="quarantine" value="false" checked) 
                    span.label-text Нет
            label(for="priority") Приоритет 
              select#priority.form-control(name="priority")
                option(value="1") 1
                option(value="2") 2
                option(value="3") 3
                option(value="0") 0
                option(value="Хотят заказы") Хотят заказы
            label(for="orgform") ОПП 
              input#orgform.form-control(type="text" name="orgform" autocomplete="off")
            label(for="title") Название 
              input#title.form-control(type="text" name="title" autocomplete="off")
            label(for="city") 
              | Город 
              input#city.form-control(type="text" name="city" autocomplete="off")
            label(for="site") 
              | Сайт 
              input#site.form-control(type="text" name="site" autocomplete="off")
            label(for="address") 
              | Адрес 
              input#address.form-control(type="text" name="address" autocomplete="off")
            label(for="access") 
              | Доступ 
              span.animated-radio-button
                label
                  input(type="radio" name="access" value="true" autocomplete="off")
                  span.label-text Есть
              span.animated-radio-button
                label
                  input(type="radio" name="access" value="true" autocomplete="off")
                  span.label-text Нет
                
            label(for="phones") 
              | Телефоны
              input#phones.form-control(type="text" name="phones" autocomplete="off")
            label(for="manager") 
              | Имя 
              input#manager.form-control(type="text" name="manager" autocomplete="off")
            label(for="email") 
              | Email 
              input#email.form-control(type="text" name="email" autocomplete="off")
            label(for="comment") 
              | Комментарий 
              input#comment.form-control(type="text" name="comment" autocomplete="off")
            label(for="specialization") 
              | Специализация 
              input#specialization.form-control(type="text" name="specialization" autocomplete="off")
            
        .modal-footer
          button.btn.btn-primary(type="submit") Добавить
          button.btn.btn-secondary#close-modal--bottom(type="button" data-dismiss="modal") Close
block specific-js
  // Data table plugin
  script(type='text/javascript', src="js/plugins/jquery.dataTables.min.js")
  script(type='text/javascript', src="js/plugins/dataTables.bootstrap.min.js")
  script(type='text/javascript').
    $('#sampleTable').DataTable();
    $('#add-contractor').click(() => {
      $('#modal-contractor').fadeIn();
    });
    $('#close-modal--top, #close-modal--bottom').click(() => {
      $('#modal-contractor').fadeOut();
    });
