extends layouts/_layout.pug

block variables
  - var activePage = 'blank-page'
  - var activeGroup = 'pages'

block title
  title Blank Page - Zaoks Admin

block content
  .btn.btn-primary#add-contractor Добавить исполнителя
  //- .app-title
  //-   div
  //-     h1
  //-       i.fa.fa-dashboard
  //-       |  Blank Page
  //-     p Start a beautiful journey here

  //-   ul.app-breadcrumb.breadcrumb
  //-     li.breadcrumb-item
  //-       i.fa.fa-home.fa-lg
  //-     li.breadcrumb-item
  //-       a(href='#') Blank Page

  .row
    .col-md-12
      .tile
        .tile-body
          table.table.table-hover.table-bordered#sampleTable
            thead
              tr
                th ID
                th Кар
                th Пр
                th Название
                th Город
                th Сайт
                th Адрес
                th Доступ
                th Телефоны
                th Имя
                th Email
                th Комментарий
                th Специализация
            tbody
              if contractors === undefined

              else 
                each contractor in contractors
                  tr 
                    td #{contractor.id}
                    td #{contractor.quarantine}
                    td #{contractor.priority}
                    td #{contractor.title}
                    td #{contractor.city}
                    td #{contractor.site}
                    td #{contractor.address}
                    td #{contractor.access}
                    td #{contractor.phones}
                    td #{contractor.name}
                    td #{contractor.email}
                    td #{contractor.comment}
                    td #{contractor.specialization}
  .modal#modal-contractor(style="display: none")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h5.modal-title Добавить исполнителя
          button.close#close-modal--top(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") ×
        .modal-body
          form.add-cotractor(action="/add-contractor" method="POST")
            .row-form
              label(for="")
                | Карантин 
                label(for="quarantine--true")
                  input#quarantine--true(type="radio" name="quarantine" value="true")
                  |  Да
                label(for="quarantine--false")
                  input#quarantine--false(type="radio" name="quarantine" value="false" checked) 
                  |  Нет
              label(for="priority") 
                | Приоритет 
                select#priority(name="priority")
                  option(value="1") 1
                  option(value="2") 2
                  option(value="3") 3
              label(for="title") 
                | Название 
                input#title(type="text" name="title")
            .row-form
              label(for="city") 
                | Город 
                input#city(type="text" name="city")
              label(for="site") 
                | Сайт 
                input#site(type="text" name="site")
              label(for="address") 
                | Адрес 
                input#address(type="text" name="address")
            .row-form
              label(for="access") 
                | Доступ 
                label(for="access--true")
                  input#access--true(type="radio" name="access" value="true" checked)
                  |  Есть
                label(for="access--false")
                  input#access--false(type="radio" name="access" value="false") 
                  |  Нет
              label(for="phones") 
                | Телефоны 
                input#phones(type="text" name="phones")
              label(for="manager") 
                | Имя 
                input#manager(type="text" name="manager")
            .row-form
              label(for="email") 
                | Email 
                input#email(type="text" name="email")
              label(for="comment") 
                | Комментарий 
                input#comment(type="text" name="comment")
              label(for="specialization") 
                | Специализация 
                input#specialization(type="text" name="specialization")
            button.btn.btn-primary(type="submit") Добавить
        .modal-footer

          button.btn.btn-secondary#close-modal--bottom(type="button" data-dismiss="modal") Close
block specific-js
  // Data table plugin
  script(type='text/javascript', src="js/plugins/jquery.dataTables.min.js")
  script(type='text/javascript', src="js/plugins/dataTables.bootstrap.min.js")
  script(type='text/javascript').
    $('#sampleTable').DataTable();
    $('#add-contractor').click(() => {
      $('#modal-contractor').fadeIn();
    });
    $('#close-modal--top, #close-modal--bottom').click(() => {
      $('#modal-contractor').fadeOut();
    });
